.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 22rem;
    height: 8rem;

    font-family: Roboto, sans-serif;

    color: var(--blue-darker);

}

.container h2{
    font-size: 1.25rem;
}

.container p{
    font-size: 1rem;
}

