.conteiner{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
}
.formulario{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.centro{
	width: 500px;
	height: 500px;

	margin-left: 60px;
	align-items: center;
}

.titulo{
	display: flex;
  align-items: center;
	margin-left: 1px;
}

.formulario-item{
	padding: 8px;
	text-align: center;
	width: 80%;
	height: 40px;
}

.formulario-item input{
	width: 100%;
	height: 40px;
}
.formulario-item .botao{
    border-radius: 5px;
    border-color: #06427a;
    color: #fff;
    background-color: #06427a;
    font-weight: 600;
    font-size: 0.95rem;
    -webkit-transition: filter 0.3s;
    transition: filter 0.3s;
    outline: none;
   	width: 100%;
   	height: 40px;
} 

#link1{
	display: flex;
	justify-content: space-between;
	width: 85%;
}
.link{
	width: 95%;
	font-size: 15px;
	opacity: 0.95;
	color: black;
	text-decoration: none;
}



